<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>Form Demo</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>时间戳</th>
        <th>域名</th>
        <th>路径及参数</th>
        <th>返回数据</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="saveParam : ${saveParams}">
        <td th:text="${saveParam.timeStamp}"></td>
        <td th:text="${saveParam.domainCom}"></td>
        <td th:text="${saveParam.pathWithParam}"></td>
        <td th:text="${saveParam.response}"></td>
        <td>
            <a th:href="@{http://{domainCom}/detail/{timestamp}(domainCom=${saveParam.domainCom}, timestamp=${saveParam.timeStamp})}"
               th:text="'访问 ' + ${saveParam.timeStamp}"></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>